<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

	<!-- ============================== -->
	<!-- Append messages to the app file -->
	<!-- ============================== -->
	<appender name="LogFile" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${catalina.home}/logs/bizcard.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-d{yyyy-MM-dd HH:mm:ss} [%t] %-5p [%c] - %m%n" />
		</layout>
	</appender>
	<appender name="ErrLogFile" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${catalina.home}/logs/bizcard_error.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-d{yyyy-MM-dd HH:mm:ss} [%t] %-5p [%c] - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMax" value="ERROR" />
			<param name="LevelMin" value="ERROR" />
		</filter>
	</appender>

	<!-- ============================== -->
	<!-- Append messages to the Console -->
	<!-- ============================== -->
	<appender name="Console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-d{yyyy-MM-dd HH:mm:ss} [%t] %-5p [%c] - %m%n" />
		</layout>
	</appender>

	<!-- ================ -->
	<!-- Limit loggers -->
	<!-- ================ -->
	<!-- com.saysth -->
	<logger name="com.saysth" additivity="true">
		<level value="INFO" />
	</logger>
	<logger name="com.saysth.commons" additivity="true">
		<level value="INFO" />
	</logger>
	<logger name="org.springframework.web" additivity="true">
		<level value="INFO" />
	</logger>
	<logger name="com.saysth.core.weixin.web.controller.OauthController" additivity="true">
		<level value="INFO" />
	</logger>
	<logger name="com.saysth.weixin.sdk.util.MessageUtil" additivity="true">
		<level value="DEBUG" />
	</logger>
	<logger name="com.saysth.core.service.UserService" additivity="true">
		<level value="DEBUG" />
	</logger>

	<!-- ======================= -->
	<!-- Setup the Root category -->
	<!-- ======================= -->
	<root>
		<priority value="INFO" />
		<appender-ref ref="LogFile" />
		<appender-ref ref="ErrLogFile" />
		<appender-ref ref="Console" />
	</root>
</log4j:configuration>