<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.backstage.entity.Role">
    <sql id="tableName">
        p_role
    </sql>
    <insert id="insert" parameterType="PRole">
        INSERT  INTO <include refid="tableName"/>(id,ctime,`order`,`name`,`desc`,inuse)
        VALUES (#{id},#{ctime},#{order},#{name},#{desc},#{inuse})
    </insert>

    <update id="update" parameterType="PRole">
        UPDATE <include refid="tableName"/>
        <set>
            <if test="order != null">
                `order` = #{order},
            </if>
            <if test="name != null">
                `name` = #{name},
            </if>
            <if test="desc != null">
                `desc` = #{desc},
            </if>
            <if test="inuse != null">
                `inuse` = #{inuse},
            </if>
            <if test="mtime != null">
                `mtime` = #{mtime},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="String">
        DELETE FROM <include refid="tableName"/> WHERE id = #{id}
    </delete>

    <select id="findAll" resultType="PRole">
        SELECT * FROM <include refid="tableName"/>
    </select>

    <select id="getById" parameterType="String" resultType="PRole">
        SELECT * FROM <include refid="tableName"/> WHERE id = #{id}
    </select>
    
    <select id="findOnyById" parameterType="String" resultType="PRole">
        select * from <include refid="tableName"/> where id = #{id}
    </select>

</mapper>