<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yt.permission.entity.RMA">
    <sql id="tableName">
        p_rma
    </sql>
    <resultMap id="rmaMap" type="RMA">
        <result column="role_id" property="roleId"/>
        <result column="module_id" property="moduleId"/>
        <result column="action_id" property="actionId"/>
    </resultMap>

    <insert id="insert" parameterType="RMA">
        INSERT INTO <include refid="tableName"/>(role_id,module_id,action_id)
        VALUES (#{roleId},#{moduleId},#{actionId})
    </insert>

    <delete id="delete" parameterType="RMA">
        DELETE FROM <include refid="tableName"/> WHERE  role_id = #{roleId} AND module_id = #{moduleId} AND action_id = #{actionId}
    </delete>

    <select id="findRmaByRoleId" parameterType="String" resultMap="rmaMap">
        SELECT * FROM <include refid="tableName"/> WHERE role_id = #{roleId}
    </select>

    <select id="findAll" resultType="RMA">
        SELECT * FROM <include refid="tableName"/>
    </select>

    <delete id="deleteByRoleId" parameterType="String">
        DELETE FROM <include refid="tableName"/> WHERE role_id = #{roleId}
    </delete>

    <delete id="deleteByModuleId" parameterType="String">
        DELETE FROM <include refid="tableName"/> WHERE module_id = #{moduleId}
    </delete>

    <delete id="deleteByActionId" parameterType="String">
        DELETE FROM <include refid="tableName"/> WHERE action_id = #{actionId}
    </delete>

    <select id="findAllActionByAccount" parameterType="String" resultType="String">
      SELECT `action` FROM
        (SELECT role_id FROM p_ar WHERE account_id=#{accountId}) b
        LEFT JOIN <include refid="tableName"/> a ON a.role_id = b.role_id
        LEFT JOIN p_action c ON c.id = a.action_id
    </select>


</mapper>